<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <form action="/home" method="POST">
            <button type="submit" name="house" value="gryffindor">Gryffindor</button>

            <button type="submit" name="house" value="hufflepuff">Hufflepuff</button>
    
            <button type="submit" name="house" value="ravenclaw">Ravenclaw</button>
        
            <button type="submit" name="house" value="slytherin">Slytherin</button>
        </form>
    </main>
</body>
</html>