*{
    font-family: "Crimson Text", serif;
    background-color: tomato;
    
}

/* 
 Color Schema:
    Header, footer and cards backgrounds : #873436;
    Text: #ffffff;
    gryffindor colors: #901215, #f5aa2b
    ravenclaw colors: #014a71, #cd7f32
    slytherin colors: #1e7553, #C0C0C0
    hufflepuff colors: #f5aa2b, #000000
*/